/* @import url("http://fonts.cdnfonts.com/css/segoe-ui-4"); */
body {
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.container {
  background: url(./909912.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  border-radius: 5px;
  width: 80%;
  height: 90%;
  backdrop-filter: blur(15px);
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.13), 0 0.3px 0.9px 0 rgba(0, 0, 0, 1);
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.35);
}
.panel:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.4;
  background-color: #fff;
  border-radius: 5px;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/bg--acrylic-light.png"); */
}
.panel-body {
  height: 100%;
}

.panel-body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.panel-body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.panel-body::-webkit-scrollbar-thumb {
  background-color: rgba(1, 2, 3, 0.2);
}

.lightText {
  display: inline-block;
  color: #fff;
  font-size: 0.8rem;
}
 img {
  display: inline-block;
  height: 16px;
  padding-top: 3px;
  margin-left:10px;
  border-radius: 3px;
}
.header {
  display: inline-block;
  color: #fff;
  height: 33px;
}
.header > .headerIcons {
  margin-top: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  text-align: right;
  font-size: 0.8rem;
}
.header > .headerIcons > span {
  cursor:default;
  transition: all 0.2s linear;
  padding: 10px 10px 6px 10px;
}
.header > .headerIcons > #maximum:hover {
  color: #222222;
  background-color: rgba(250, 250, 250, 0.4);
}
#close:hover{
  background-color: rgba(250, 0,0, 0.8);
}

.headerTitleIcon {
  font-size: 1rem;
  position: absolute;
  margin-top: 10px;
  color: #fcfcfc;
  margin-left: 10px;
}

.headerTitleText {
  display: inline-block;
  margin-top: -1px;
  /* margin-left: 25px; */
  padding-top: 10px;
  padding-left: 5px;
}
iframe{
  width: 100%;
  height: 90.6%;
  border-radius: 0 0 5px 5px ;
}

body {
  display: flex
}


.central-box {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  background: #18191c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.central-content {
  padding: 0 16px
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0 24px;
  border-bottom: 1px solid rgba(255,255,255,.06);
  border-radius: 8px 0
}

.header-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  border-radius: 100%
}

.header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px
}

.header-subtitle {
  margin-bottom: 8px;
  color: #b9bbbe;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px
}

.header-bb-ver {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  height: 15px;
  margin-top: 4px;
  margin-left: 8px;
  padding: 0 4px;
  border-radius: 3px;
  background: #5865f2;
  font-size: 10px;
  text-transform: uppercase
}

.tooltip-wrapper {
  position: relative;
  height: 100%
}

.tooltip {
  position: absolute;
  top: 0;
  right: 50%;
  padding: 6px 11px;
  border-radius: 4px;
  background: #18191c;
  box-shadow: rgba(0,0,0,.24) 0 8px 16px 0;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  white-space: nowrap;
  visibility: hidden;
  transition: transform 200ms cubic-bezier(0.17, 0.67, 0.79, 1.53);
  transform: translate(50%, calc(-100% - 9px)) scale(0.96)
}

.header-bot-tick:hover+.tooltip {
  visibility: visible;
  transform: translate(50%, calc(-100% - 9px)) scale(1)
}

.tooltip::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 12px;
  height: 12px;
  background: #18191c;
  transform: translate(50%, calc(100% - 1px));
  -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0);
  clip-path: polygon(50% 50%, 0 0, 100% 0)
}

.section-title {
  margin-bottom: 16px;
  color: #b9bbbe;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase
}

.section-permissions-container {
  padding: 24px 0;
  border-bottom: 1px solid rgba(255,255,255,.06)
}

.section-permission {
  display: flex;
  align-items: center;
  margin-top: 16px
}

.section-permission-icon-wrapper {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  padding: 2px;
  border-radius: 50%
}

.section-permission-icon-wrapper.green {
  background-color: #3ba55d
}

.section-permission-icon-wrapper.gray {
  background-color: #747f8d
}

.section-permission-icon {
  width: 20px;
  height: 20px;
  color: #fff
}

.section-info-container {
  padding: 24px 0
}

.section-info-option {
  display: flex;
  margin-top: 8px;
  color: #72767d
}

.section-info-option-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-position: 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat
}

.section-info-option-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px
}

footer {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 0 0 5px 5px;
  background: #2f3136
}

.footer-btn {
  min-width: 6rem;
  height: 2.375rem;
  font-size: 14px;
  line-height: 16px
}

@media screen and (min-width: 0) {
  .central-box {
      width:100%;
      height: 100%
  }
}

@media screen and (min-width: 576px) {
  .central-box {
      min-width:280px;
      max-width: 400px;
      height: auto;
      min-height: 400px
  }
}
br {
  content: "";
  display: block;
  /* margin-top: -5px; */
}
